.section {
  background-color: steelblue;
  color: white;
  padding: 50px;
  font-family: 'Raleway', sans-serif;
}

.heading {
  margin-bottom: 50px;
}

.heading h2 {
  text-align: center;
}

.portfolio-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
