.NotFoundPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkslategray;
  color: white;
  height: 100vh;
}

.NotFoundPage .action {
  margin-top: 20px;
}