@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.portfolio a {
  color: aliceblue;
}

.portfolio > .portfolio-image-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.portfolio > .portfolio-image-wrapper img {
  width: 90%;
  margin: auto;
  animation: 3s ease 0s 1 slideInFromBottom;
}

.portfolio:hover > .portfolio-image-wrapper img {
  opacity: 0.4;
  transition: all 0.5s;
}

.portfolio > .portfolio-image-wrapper > .portfolio-label {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 10px;
  overflow: hidden;
  text-align: center;
  background-color: black;
  border: 2px solid white;
  transition: all 2s;
  transform: translate(-50%, -50%) scale(2);
}

.portfolio:hover > .portfolio-image-wrapper > .portfolio-label {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.5s;
}
