.LandingPage-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
}

.LandingPage-background {
  background-color: black;
  color: white;
}

.LandingPage-section .text-name {
  font-weight: bold;
}

.LandingPage-section .icon-down {
  font-size: 3rem;
  cursor: pointer;
  color: #3498db;
  animation: upDownAnim 2s infinite;
}

@keyframes upDownAnim {
  0% {
    opacity: 0.3;
    transform: translateY(0px);
  }
  50% {
    opacity: 1;
    transform: translateY(10px);
  }
  100% {
    opacity: 0.3;
    transform: translateY(0px);
  }
}

.LandingPage-section-half {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  margin-top: 50px;
}

.LandingPage-section-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.LandingPage-section-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.LandingPage-img {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid lightskyblue;
}

.LandingPage-action > .btn {
  margin: 3px;
  margin-bottom: 5px;
}

.LandingPage-img > img {
  display: block;
  width: 100%;
  height: 100%;
}

.LandingPage-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.LandingPage-intro {
  font-size: 1.5rem;
  text-align: right;
  padding: 2px;
}

.List-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: white;
}

.List-section {
  margin: 50px 0px;
}
.List-section__heading {
  margin-bottom: 20px;
}
.List-section a {
  color: #3498db;
}
.List-section ul {
  padding-left: 20px;
}
.List-section ul > li {
  margin-top: 8px;
}
.List-section ul > li > a {
  color: royalblue;
}

@media (max-width: 600px) {
  .LandingPage-section-half {
    flex-direction: column;
    margin-top: 0px;
  }
}

.LandingPage-social {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LandingPage-social .fa {
  color: #2c3e50;
  font-size: 2.5rem;
  padding: 10px;
  text-align: center;
}

.LandingPage-social .fa:hover {
  color: white;
}

@media (max-width: 750px) {
  .LandingPage-section {
    padding: 20px;
    padding-top: 2%;
    padding-bottom: 3%;
    height: auto;
    width: 100%;
  }

  .LandingPage-intro {
    text-align: center;
  }

  .LandingPage-section-half {
    flex-direction: column;
  }

  .LandingPage-section-left,
  .LandingPage-section-right {
    align-items: center;
  }

  .List-section {
    margin: 40px 0px;
  }

  .List-section ul {
    padding-left: 25px;
  }
}

.CardSection__post-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
  transition: all 0.4s;
  overflow: hidden;
  opacity: 1;
}

.CardSection__post-img:hover {
  transform: scale(1.2) rotate(-2deg);
  opacity: 0.8;
}

.CardSection__card {
  overflow: hidden;
  transition: all 0.5s;
}

.CardSection__card:hover {
  border-color: darkgray;
}
