.LandingPage-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
}

.LandingPage-section-half {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  margin-top: 50px
}

.LandingPage-section-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.LandingPage-section-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.h-auto {
  height: auto;
}

.List-container {
  border-top: 1px solid lightgray;
  width: 80%;
  height: 50vh;
  margin: auto;
  background-color: white;
  justify-content: flex-start;
}

.List-section {
  margin: 50px;
}

@media (max-width: 680px) {
  .LandingPage-section {
     padding-top: 10%;
     padding-bottom: 10%;
     height: auto;
     width: 100%;
  }

  .LandingPage-section-half {
    flex-direction: column;
    margin-top: 0;
  }

  .LandingPage-section-left, .LandingPage-section-right {
    align-items: center
  }

  .mobile-flex {
    flex-direction: column;
  }

  .List-section {
    margin: 10px;
  }
}

.LandingPage-img {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid slategray;
}

.LandingPage-action > .btn {
  margin: 3px;
  margin-bottom: 5px;
}

.LandingPage-img > img {
  display: block;
  width: 160px;
  height: 190px;
}

.LandingPage-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.LandingPage-intro {
  font-size: large;
  text-align: center;
  padding: 2px;
}

.LandingPage-social {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LandingPage-social .fa {
  color: #2c3e50;
  font-size: 30pt;
  padding: 10px;
  text-align: center;
}

.btn-outline-primary {
  border: 1px solid white;
  color: white;
}

.list-style-none {
  padding-left: 40px;
}

.list-style-none > li {
  margin-top: 5px;
}
.list-style-none > li > a {
  color: royalblue;
}