.LandingPage-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: steelblue;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.LandingPage-img {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid skyblue;
}

.LandingPage-action > .btn {
  margin: 3px;
  margin-bottom: 5px;
}

.LandingPage-img > img {
  display: block;
  width: 160px;
  height: 190px;
}

.LandingPage-header {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.LandingPage-intro {
  font-size: large;
  text-align: center;
  padding: 2px;
}

.LandingPage-social {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LandingPage-social .fa {
  font-size: 30pt;
  color: white;
  padding: 10px;
  text-align: center;
}

.btn-outline-primary {
  border: 1px solid white;
  color: white;
}