.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.portfolio a {
  color: aliceblue;
}

.portfolio > .portfolio-image-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.portfolio > .portfolio-image-wrapper > img {
  width: 90%;
  margin: auto;
}

.portfolio:hover > .portfolio-image-wrapper > img {
  opacity: 0.4;
  transition: all 0.5s;
}

.portfolio > .portfolio-image-wrapper > .portfolio-label {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 10px;
  overflow: hidden;
  background-color: darkslategrey;
  border: 2px solid white;
  border-radius: 5px;
  transition: all 2s;
  transform: translate(-50%, -50%) scale(2);
}

.portfolio:hover > .portfolio-image-wrapper > .portfolio-label {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.5s;
}
