.BlogSection__post-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px;
  transition: all 0.5s;
  overflow: hidden;
  opacity: 1;
}

.BlogSection__post-img:hover {
  transform: scale(0.7) rotate(2deg);
  opacity: 0.8;
}

.BlogSection__card {
  overflow: hidden;
  transition: all 0.5s;
}

.BlogSection__card:hover {
  border-color: darkgray;
}
