.AppHeader {
  display: flex;
  width: 100%;
  height: 50px;
  z-index: 1;
  left: 0;
  top: 0;
  position: fixed;
  justify-content: space-between;
  background-color: black;
  color: white;
  text-align: right;
}

.AppHeader > .AppHeaderMenu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5;
}

@media (max-width: 600px) {
  .AppHeader {
    position: static;
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .AppHeader > .AppHeaderMenu {
    flex-direction: column;
    justify-content: center;
  }
}
